<% layout('layouts/boilerplate') %> 
    <h2>IMPORTANT</h2>
    <h3>Are you sure you want to delete <%= campground.title %>?</h3>
    <form action="/campgrounds/<%= campground._id %>?_method=DELETE " method="post">
    <button type="submit">Yes</button>
    <button ><a href="/campgrounds/<%= campground._id %>">cancel</a></button>
    </form>
