<% layout('layouts/boilerplate') %> 
    <h1>Campgrounds</h1>
    <a href="/campgrounds/new">Add New</a>
    <ol>
        <% for(let campground of campgrounds){ %>
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %> </a></li>
        <% } %>  
    </ol>
    <a href="/">Home</a>



