<% layout('layouts/boilerplate') %>
    <h1 class="mb-3">Create new campground</h1>
    <form action="/campgrounds" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" aria-describedby="location">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price">$</span>
                <input type="number" class="form-control" name="price" placeholder="0.00" aria-label="price"
                    aria-describedby="price">
            </div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image url</label>
            <input type="text" class="form-control" id="image" name="image" aria-describedby="image">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" class="form-control" id="description" name="description"
                aria-describedby="description"></textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
    <a href="/campgrounds">Cancel</a>